albumentations==1.3.0
altgraph==0.17.3
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.34
decorator==4.4.2
dlib==19.24.1
easydict==1.10
flatbuffers==23.3.3
fonttools==4.39.3
humanfriendly==10.0
idna==3.4
imageio==2.27.0
imageio-ffmpeg==0.4.8
importlib-resources==5.12.0
insightface==0.7.3
joblib==1.2.0
kiwisolver==1.4.4
lazy_loader==0.2
matplotlib==3.7.1
moviepy==1.0.3
mpmath==1.3.0
networkx==3.1
numpy==1.24.2
onnx==1.13.1
onnxruntime==1.14.1
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
ordered-set==4.1.0
packaging==23.1
pefile==2023.2.7
Pillow==9.5.0
prettytable==3.7.0
proglog==0.1.10
protobuf==3.20.3
pyinstaller==5.10.0
pyinstaller-hooks-contrib==2023.2
pyparsing==3.0.9
pyreadline3==3.4.1
python-dateutil==2.8.2
PyWavelets==1.4.1
pywin32-ctypes==0.2.0
PyYAML==6.0
qudida==0.0.4
requests==2.28.2
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
six==1.16.0
sympy==1.11.1
threadpoolctl==3.1.0
tifffile==2023.4.12
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==1.26.15
wcwidth==0.2.6
zipp==3.15.0
zstandard==0.20.0
